<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.ym.dao.ImageManageMapper" >
  <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.ym.entity.ImageManage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="image1" property="image1" jdbcType="VARCHAR" />
    <result column="width1" property="width1" jdbcType="VARCHAR" />
    <result column="height1" property="height1" jdbcType="VARCHAR" />
    <result column="image2" property="image2" jdbcType="VARCHAR" />
    <result column="width2" property="width2" jdbcType="VARCHAR" />
    <result column="height2" property="height2" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_by, create_date, update_by, update_date, remarks, del_flag, type, image1, 
    width1, height1, image2, width2, height2, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from image_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from image_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.thinkgem.jeesite.ym.entity.ImageManage" >
    insert into image_manage (id, create_by, create_date, 
      update_by, update_date, remarks, 
      del_flag, type, image1, 
      width1, height1, image2, 
      width2, height2, url
      )
    values (#{id,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{image1,jdbcType=VARCHAR}, 
      #{width1,jdbcType=VARCHAR}, #{height1,jdbcType=VARCHAR}, #{image2,jdbcType=VARCHAR}, 
      #{width2,jdbcType=VARCHAR}, #{height2,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.thinkgem.jeesite.ym.entity.ImageManage" >
    insert into image_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="image1 != null" >
        image1,
      </if>
      <if test="width1 != null" >
        width1,
      </if>
      <if test="height1 != null" >
        height1,
      </if>
      <if test="image2 != null" >
        image2,
      </if>
      <if test="width2 != null" >
        width2,
      </if>
      <if test="height2 != null" >
        height2,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="image1 != null" >
        #{image1,jdbcType=VARCHAR},
      </if>
      <if test="width1 != null" >
        #{width1,jdbcType=VARCHAR},
      </if>
      <if test="height1 != null" >
        #{height1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null" >
        #{image2,jdbcType=VARCHAR},
      </if>
      <if test="width2 != null" >
        #{width2,jdbcType=VARCHAR},
      </if>
      <if test="height2 != null" >
        #{height2,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.thinkgem.jeesite.ym.entity.ImageManage" >
    update image_manage
    <set >
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="image1 != null" >
        image1 = #{image1,jdbcType=VARCHAR},
      </if>
      <if test="width1 != null" >
        width1 = #{width1,jdbcType=VARCHAR},
      </if>
      <if test="height1 != null" >
        height1 = #{height1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null" >
        image2 = #{image2,jdbcType=VARCHAR},
      </if>
      <if test="width2 != null" >
        width2 = #{width2,jdbcType=VARCHAR},
      </if>
      <if test="height2 != null" >
        height2 = #{height2,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.thinkgem.jeesite.ym.entity.ImageManage" >
    update image_manage
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      image1 = #{image1,jdbcType=VARCHAR},
      width1 = #{width1,jdbcType=VARCHAR},
      height1 = #{height1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      width2 = #{width2,jdbcType=VARCHAR},
      height2 = #{height2,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>