<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thinkgem.jeesite.ym.dao.ImageManageExtMapper" >
	<select id="selectList" resultMap="com.thinkgem.jeesite.ym.dao.ImageManageMapper.BaseResultMap" parameterType="java.lang.String">
		select
			<include refid="com.thinkgem.jeesite.ym.dao.ImageManageMapper.Base_Column_List" />
		from image_manage
		where del_flag = '0'
		and type = #{type,jdbcType=VARCHAR}
	</select>
</mapper>